version: "3.9"

services:
  mireamour-bot:
    container_name: mireamour-bot
    restart: unless-stopped
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - postgres
    env_file:
      - .env
  postgres:
    container_name: mireamour-postgres
    image: postgres:latest
    restart: unless-stopped
    ports:
      - 5433:5432
    volumes:
      - mireamour-db:/var/lib/postgresql/data
    environment:
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_PORT=${POSTGRES_PORT}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}

networks:
  default:
    driver: bridge

volumes:
  mireamour-db:
